<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
<h1>Book Details</h1>
<p><strong>Name:</strong> [[${book.name}]]</p>
<p><strong>Author:</strong> [[${book.author}]]</p>
<p><strong>Price:</strong> [[${book.price}]]</p>
<p><strong>Quantity:</strong> [[${book.quantity}]]</p>
<!-- Добавьте любую другую информацию о книге, которую вы хотите отобразить -->
</body>
</html>
